body {
    margin: 0;
    height: 90vh;
}
.div1 {
    background-color: green;
    width: 510px;
    height: 510px;
    position: relative;
    margin: 20px auto 0;
    border: 10px solid;
}
.manzana {
    position: absolute;
    background-color: red;
    width: 17px;
    height: 17px;
}
.snake {
    position: absolute;
    background-color: rgb(211, 160, 169);
    width: 17px;
    height: 17px;
    transform: translate(34px, 238px);
}
.contador {
    position: absolute;
    font-size: 100px;
    top: 80px ;
    left: 100px;
    z-index: 1;
}
.tsnake {
    position: absolute; 
    background-color: pink;
    width: 17px;height: 17px;
}
